.container {
    background-color: black;
    color: whitesmoke;
    padding: 40px 7%;
    display: flex;
    flex-direction: column;
    min-height: 90vh;
}

.heading {
    font-size: 2em;
    margin: 10px 0 20px;
}

.subHeading {
    font-size: 1.5em;
    margin: 20px 0 15px;
}

table {
    margin-bottom: 30px;
    border-spacing: 0;
}
table tr:nth-child(odd) {
    background-color: rgba(255,255,255,0.1);
    border-collapse: collapse;
}
table td:nth-child(odd) {
    width: 50%;
}
td {
    padding: 3px 5px;
}
td:nth-child(odd) {
    border-top: 1px solid rgba(255,255,255,0.1);
    border-bottom: 1px solid rgba(255,255,255,0.1);
    border-left: 1px solid rgba(255,255,255,0.1);
}
td:nth-child(even) {
    border-top: 1px solid rgba(255,255,255,0.1);
    border-bottom: 1px solid rgba(255,255,255,0.1);
    border-right: 1px solid rgba(255,255,255,0.1);
}

.wikiLink {
    text-decoration: none;
    font-size: 1.5em;
    color: whitesmoke;
    transition: transform 150ms ease-in-out;
}
.wikiLink:hover {
    transform: scale(11);
}

.image {
    margin: 20px 0;
    width: 100%;
    display: block;
}

@media (max-width: 500px) {
    .container {
        padding: 40px 4%;
    }
}