.container {
    background-color: black;
    color: whitesmoke;
    padding: 40px 7%;
    display: flex;
    flex-direction: column;
}

.heading {
    font-size: 2em;
    margin: 20px 0;
}

.filters {
    margin-bottom: 20px;
}

.filters button, .more {
    margin: 10px 10px;
    width: 80px;
    height: 30px;
    color: whitesmoke;
    text-align: center;
    background-color: transparent;
    border: 1px solid whitesmoke;
    border-radius: 8px;
    box-shadow: 0 0 4px whitesmoke;
    cursor: pointer;
}
.filters button:hover {
    background-color: rgba(245, 245, 245, 0.1);
}

.launches {
    border: 1px solid whitesmoke;
    border-radius: 10px;
    box-shadow: 0 0 4px whitesmoke;
    padding: 20px 20px 0;
}

.more {
    width: fit-content;
    height: auto;
    padding: 5px 30px;
    font-size: 1.2em;
    margin: 20px auto;
}

@media (max-width: 550px) {
    .container {
        padding-left: 0;
        padding-right: 0;
    }
    .launches {
        padding: 3px;
        border: none;
        box-shadow: none;
    }
    .filters {
        margin-left: 15px;
    }
    .heading {
        margin-left: 15px;
    }
}